.container {
  @include align-center();
  border-radius: 10px !important;
  box-shadow: 0 5px 15px $dark-color !important;
  cursor: pointer;
}
.card {
  @extend .container;
  background: $secondary-color !important;
}

.gradient {
  @extend .container;
  background: linear-gradient(
    334deg,
    $primary-color,
    $accent-color,
    $dark-color
  );
  background-size: 180% 180%;
  animation: gradient-animation 6s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.header {
  text-align: center;
  color: $secondary-color;
  text-shadow: 4px 4px 2px $dark-color;
  font-size: 45px !important;

  span {
    font-size: 50px;
    color: $highlight-color;
    text-shadow: 4px 4px 2px $dark-color;
  }
}
.title {
  text-align: center;
  margin-top: -1.5rem;
  padding: 10px 20px;
  color: $secondary-color;
  background: $primary-color;
  border-radius: 5px;
  text-shadow: 1px 2px 2px $highlight-color;
}
.btn {
  margin-top: 3rem;
  background: $secondary-color;
  color: $dark-color;
  padding: 10px 35px;
  cursor: pointer;
  font-size: 18px;
  box-shadow: 0 1px 5px $dark-color;
  border-radius: 5px;
  transition: 1000ms;
  text-shadow: 1px 2px 2px $dark-color;

  &:hover {
    transform: scale(0.9);
    color: $secondary-color;
    box-shadow: 0 5px 10px $secondary-color;
    background: $dark-color;
    text-shadow: 1px 2px 2px $secondary-color;
  }
}

.category-list {
  max-height: 360px;
  overflow-y: scroll;
  text-align: center;

  div {
    color: $secondary-color;
    background: $highlight-color;
    margin-top: 1rem;
    border: 2px dotted $dark-color;
    border-radius: 5px;
    font-size: 15px;
    transition: 1000ms;
    &:hover {
      background: $accent-color;
    }
  }
}
